@import url('https://fonts.googleapis.com/css?family=Montserrat:400, 600');

:root{
    --mainColor: #eaeaea;
    --secondaryColor: #fff;

    --borderColor: #c1c1c1;

    --mainText:black;
    --secondaryText: #4b5156;

    --navMainText: #0f3c65;
    --navSecondaryText: #17a2b8;

    --theme-border: #24292e;

    --previewBG: rgb(251, 249, 243, 0.8);
    --previewShadow: #f0ead6;
    --ButtonColor: #2b2b2b;
    --ButtonSecondaryColor: #f0ead6;
    --ButtonText: #fff;
    --ButtonSecondaryText: #2b2b2b;
    
}